include header.jade
div#content
  div.col-md-7.col-xs-12
    br
    img(src="/imgs/rodkings.jpg",height="20%").img-circle.img-responsive.center-block
    
    div.contact-div.text-center
      a(href="https://twitter.com/scrooge_mc_pato")
        small.
          Twitter: @scrooge_mc_pato
      br
      a(href="https://github.com/kouryuu")
        small.
          Github: @kouryuu
      br
      a(href="/rodrigo.vcard")
        small.
          Email: rodrigo(at)pelthora.com.mx
      div.hidden-xs.hidden-sm
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
  div.col-md-5.col-xs-12.no-float
  br
  br
  div.about-me!=contents
    
  
include scripts.jade
