doctype html
html(lang="en",ng-app="Blog")
    head
      //Made with Jade,Markdown,Bootstrap3,Flat-UI and Love.
      title Blog about UX, Coding, and Computer Science stuff.
      link(href='styles/bootstrap.min.css',rel='stylesheet',type='text/css')
      link(href='styles/flat-ui.css',rel='stylesheet',type='text/css')
      link(href='styles/mystyles.css',rel='stylesheet',type='text/css')
      //Avoid Resize by mobiles
      meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    body
      nav.navbar.palette.palette-clouds
        .navbar-inner
          .container
            .navbar-header
              button.btn.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only
              a.navbar-brand(href="/")=title
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href="#") UX
                li
                  a(href="#") Code
                li
                  a(href="#") Software Engineering
                li
                  a(href="/talks") Talks
                li
                  a(href='/about') About Me
      .container-fluid
        .col-md-12.hidden-xs
          div.big-img
            h1.
              <br/>
              &nbsp;A blog about User Experience, Coding & Computer Science stuff.
        div#content(ng-controller="mainContent")
          br
          br
          br
          h2.centered Recent Posts
            posts
            


    include scripts.jade
    script(src='scripts/app.js')
