div.bootstrap-switch.bootstrap-switch-wrapper.bootstrap-switch-off.bootstrap-switch-animate
  div.bootstrap-switch-container
    span.bootstrap-switch-handle-on.bootstrap-switch-primary ON
    label.bootstrap-switch-label
    span.bootstrap-switch-handle-off.bootstrap-switch-default OFF
    input(type="checkbox",checked,data-toggle="switch")
