include header.jade
div#content
  div.col-md-10.col-xs-12
    br
    br
    div!= contents
  div.col-md-2.col-xs-12
    br
    br
    br
    br
    div.centered
      h4 Want me to give a talk at your event?
      br
      a(href="mailto:rodrigo@plethora.com.mx").btn.btn-primary Contact Me!
include scripts.jade
