#big-img{
  background-image:url('/imgs/bkgrnd_old.jpg');
  height:301px;
  text-align: center;
  color: #ECF0F1;
  box-shadow: 0px 20px 100px -20px #ECF0F1;
  margin-bottom: 30px;
}

.centered{
  text-align: center;
}

h1 {
  text-align: center;
}
.post h1 {
  color: lightgray;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
}

.post h2 {
  padding-bottom: .5em;
}

.image-header {
  text-shadow: 0px 0px 10px gray;
}

#content {
  margin-left: 5%;
  margin-right: 5%;
}

.ghost-img {
  opacity: 0.4;
}

.code-img {
  background-image: url('/imgs/codes.jpg');
  height: 500px;
}

.justified {
  text-align: justify;
}

.post img {
  max-height: 400px;
  display: list-item;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.72222;
  background-color: #fff;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.post-list hr {
  width:35%;
}

.label-tag {
  background-color: #bdc3c7;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.post-card {
    position: relative;
    -webkit-animation: movecards 1s; /* Chrome, Safari, Opera */
    animation: movecards 1s;
  animation-fill-mode: forwards;
  transition: font-size 10s;
  -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
    transition-timing-function: ease-out;
}

.post-card:hover h3 {
  font-size: 45px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes movecards {
    from {top: 400px;opacity: 0;}
    to {top: 0px;opacity: 1;}
}

@keyframes movecards {
    from {top: 400px;opacity: 0;}
    to {top: 0px;opacity: 1;}
}
