.big-img{
  background-image:url('/imgs/bkgrnd.jpg');
  height:301px;
  text-align: center;
  color: #ECF0F1;

}
.centered{
  text-align: center;
}
h1 {
  text-align: center;
}
#content{
  margin-left: 5%;
  margin-right: 5%;
}
